
{% if user.is_authenticated %}
Logged is as {{user.username}}
<br>

<a href="{% url 'create_todo'%}">Create</a>
<a href="{% url 'current_todos'%}">Current</a>
<a href="{% url 'completed_todos'%}">Completed</a>

<form action="{% url 'logout_user' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Logout</button>
</form>

{% else %}
<a href="{% url 'signup_user' %}">Sign Up</a>
<br>
<a href="{% url 'login_user' %}">Login</a>
{% endif %}
<br>
<br>

{% block content %}{% endblock %}